body,
html {
    margin: 0;
    padding: 0;
    color: #000;
    background: #fafafa
}

ul {
    margin: 0;
    padding: 0;
}

.center {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
    width: auto;
    height: auto;
    max-height: 110px;
    max-width: 260px
}

nav {
    padding: 15px 35px;
    width: 850px;
    border-style: solid;
    border-width: 4px;
    border-radius: 6px 6px 6px 0;
    box-sizing: border-box;
    position: relative;
    border-color: #ffcb3f;
    background-color: #fff;
}

.ul__nav {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ul__nav li a {
    color: #000;
    text-decoration: none;
    transition: all linear;
    text-transform: uppercase;
    font-weight: 500;
}

.ul__nav li a:hover {
    color: #ffc426;
    text-decoration: underline;
}

.authorisation {
    width: 220px;
    display: flex;
    justify-content: space-between;
}

main {
    padding-bottom: 10px;
    margin-bottom: 70px;
}

.main-slider-block {
    position: relative;
    height: 520px;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    left: 50%;
    margin-left: -720px;
    overflow: hidden;
    padding-bottom: 40px;
}

.items {
    width: 900%;
    position: relative;
}

.item {
    width: 1440px;
    height: 480px;
    overflow: hidden;
    position: relative;
    float: left;
}

.main-options {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 480px;
    display: table;
    table-layout: fixed;
}

.main-options a {
    padding-left: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    transition: all .3s;
}

.main-options a:hover {
    background-color: #f4aa1c;
}

.main-features {
    display: table;
    width: 1170px;
    margin: 30px auto;
    table-layout: fixed;
    counter-reset: no;
}

.main-features li {
    display: table-cell;
    border-left: 1px solid #f0f0f0;
    padding: 50px 20px 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #717a81;
    font-weight: bold;
    position: relative;
}

.main-features li:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border: 2px solid #eee;
    border-radius: 3px;
    top: 8%;
    left: 16px;
}

.main-features li:after {
    position: absolute;
    content: counter(no);
    counter-increment: no;
    left: 23px;
    top: 0px;
    font-size: 30px;
    font-weight: bold;
    height: 24px;
    color: #ffcb3f;
}

section {
    background-color: #f3f4f6;
}

.section__title {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.section__content {
    width: 1000px;
    margin: 0 auto;
}

.section__content p {
    text-align: justify;
}

.section__news {
    padding: 20px 0;
    width: 1000px;
    margin: 0 auto;
}

.section__news__title {
    text-transform: uppercase;
    color: #717a81;
    text-decoration: none;
    border-bottom: 1px solid;
    font-size: 25px;
}

.section__news__title:hover {
    color: #f4aa1c;
}

.news__item {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 70px;
    padding-top: 30px;
    position: relative;
}

.news__item:before {
    content: '';
    border-top: 3px solid #ffc426;
    width: 240px;
    top: 0;
    position: absolute;
}

.date {
    font-size: 18px;
}

.content {
    text-align: justify;
}

footer {
    margin: 0 auto;
    width: 1140px;
}

.copy {
    max-width: 270px;
    max-height: 73px;
    color: #717a81;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: bold;
}

.box {
    border-style: solid;
    padding: 20px;
    border-width: 4px;
    border-radius: 6px 6px 6px 0;
    box-sizing: border-box;
    position: relative;
    border-color: #ffcb3f
}

.all_contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 25px 0;
    color: #808080;
    font-size: 13px;
}

.contact {
    margin: 0;
    font-size:20px;
    color: #000;
}

.all_contacts p {
    margin: 0;
}