body,
html {
    margin: 0;
    padding: 0;
    color: #000;
    background: #fafafa
}

ul {
    margin: 0;
    padding: 0;
}

.center {
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
    width: auto;
    height: auto;
    max-height: 110px;
    max-width: 260px
}

.message__button__adaptation {
    position: relative;
}

nav {
    padding: 15px 35px;
    width: 50%;
    border-style: solid;
    border-width: 4px;
    border-radius: 6px 6px 6px 0;
    box-sizing: border-box;
    border-color: #ffcb3f;
    background-color: #fff;
}

.ul__nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.ul__nav li a {
    color: #000;
    text-decoration: none;
    transition: all linear;
    text-transform: uppercase;
    font-weight: 500;
}

.ul__nav li a:hover {
    color: #ffc426;
    text-decoration: underline;
}

.authorisation {
    width: 18%;
    display: flex;
    justify-content: space-between;
}

.main-slider-block {
    position: relative;
    margin: 0 auto;
    margin-bottom: 80px;
    height: 480px;
    width: 90%;
    overflow: hidden;
}

.item__image {
    width: 100%;
}

/* Animation */

.photo0 {
    position: relative;
    z-index: -2;
}

.photo1 {
    position: absolute;
    top:-100%;
    animation: fromtop 10s linear 5s infinite;
}

.photo2 {
    position: absolute;
    top:-100%;
    animation: fromtop 10s linear infinite;
}

@keyframes fromtop {
    0% {
        top: -100%;
    }
    4% {
        top: 0;
    }
    5% {
        top: -20px;
    }
    6% {
        top: 0;
    } 
    49.99999% {
        top: 0;
        z-index: 0;
    }   
    50% {
        top: 0;
        z-index: -1;
    }  
    100% {
        top: 0;
        z-index: -1;      
    }  
}

.main-options {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
}

.main-options a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s;
}

.main-options a:hover {
    background-color: #f4aa1c;
}

.main-features {
    display: table;
    width: 80%;
    margin: 30px auto;
    table-layout: fixed;
    counter-reset: no;
}

.main-features li {
    display: table-cell;
    position: relative;
    border-left: 1px solid #f0f0f0;
    padding: 50px 20px 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #717a81;
    font-weight: bold;
}

.main-features li:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border: 2px solid #eee;
    border-radius: 3px;
    top: 8%;
    left: 7%;
}

.main-features li:after {
    position: absolute;
    content: counter(no);
    counter-increment: no;
    left: 21px;
    top: 0px;
    font-size: 30px;
    font-weight: bold;
    height: 24px;
    color: #ffcb3f;
}

section {
    background-color: #f3f4f6;
}

.section__title {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.section__content {
    width: 70%;
    margin: 0 auto;
}

.section__content p {
    text-align: justify;
}

.section__news {
    padding: 20px 0;
    width: 70%;
    margin: 0 auto;
}

.section__news__title {
    text-transform: uppercase;
    color: #717a81;
    text-decoration: none;
    border-bottom: 1px solid;
    font-size: 25px;
}

.section__news__title:hover {
    color: #f4aa1c;
}

.section__news__list {
    padding: 20px 0;
}

.news__item {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 70px;
    padding-top: 30px;
    position: relative;
}

.news__item:before {
    content: '';
    position: absolute;
    border-top: 3px solid #ffc426;
    width: 100%;
    top: 0;
}

.date {
    font-size: 18px;
}

.content { 
    text-align: justify;
}

footer {
    margin: 0 auto;
    width: 75%;
}

.copy {
    width: 250px;
    height: 73px;
    color: #717a81;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: bold;
}

.box {
    border-style: solid;
    padding: 20px;
    border-width: 4px;
    border-radius: 6px 6px 6px 0;
    box-sizing: border-box;
    position: relative;
    border-color: #ffcb3f
}

.all_contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 25px 0;
    color: #808080;
    font-size: 13px;
}

.contact {
    margin: 0;
    font-size:20px;
    color: #000;
}

.all_contacts p {
    margin: 0;
}

/* Adaptation */

@media screen and (max-width: 1400px) {
    .main-slider-block {
        height: 390px;
    }

    .news__item {
        width: 24%;
    }
}

@media screen and (max-width: 1200px) {
    .main-features li:before {
        top: 5%;
    }

    .main-features {
        width: 95%;
    }

    .date {
        font-size: 18px;
    }

    .news__item {
        width: 22%;
        font-size: 15px;
    }

    .main-slider-block {
        height: 315px;
    }

    .authorisation {
        width: 22%;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        flex-direction: column;
    }

    .section__content {
        width: 80%;
    }

    .section__content p {
        font-size: 17px;
    }

    .section__news {
        width: 80%;
    }

    .news__item {
        width: 21%;
        font-size: 16px;
    }

    .all_contacts {
        font-size: 16px;
    }

    .contact {
        font-size: 22px;
    }

    .copy {
        width: 300px;
        height: 75px;
        text-align: center;
    }

    footer {
        width: 85%;
    }
    
    nav {
        width: 100%;
    }

    .username__adaptation {
        position: absolute;
        left: 5%;
        top: 5%;
    }

    .message__button__adaptation {
        position: absolute;
        right: 20%;
        top: 5%;
    }

    .exit__button_adaptation {
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .center {
        margin-bottom: 20px;
    }

    .main-slider-block {
        width: 95%;
        height: 260px;
    }

    .main-features {
        widows: 100%;
    }

    .main-features li {
        font-size: 12px;
    }

    .main-features li:after {
        left: 18px;
    }

    .box {
        margin-top: 20px;
    }

    .authorisation {
        position: absolute;
        width: 30%;
        top: 5%;
        left: 5%;
    }

}

@media screen and (max-width: 768px) {
    .main-slider-block {
        width: 100%;
        height: 210px;
    }

    .main-options a {
        font-size: 15px;
    }

    .main-features {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .main-features li {
        text-align: center;
        padding: 40px 20px 3px;
        font-size: 16px;
    }

    .main-features li:after {
        top: -5%;
        left: 45px;
    }

    .section__title {
        font-size: 28px;
    }

    .section__news {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__news__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .news__item {
        width: 60%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .date {
        text-align: center;
    }

    .section__content {
        width: 90%;
    }

    .authorisation {
        width: 35%;
    }
}

@media screen and (max-width: 576px) {
    .authorisation {
        position: relative;
        width: 60%;
        top: 0;
        left: 0;
        margin-top: 30px;
    }

    .message__button__adaptation {
        position: relative;
        right: 0;
        top: 0;
        margin-bottom: 10px;
    }

    .exit__button_adaptation {
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 10px;
    }

    .username__adaptation {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 10px;
    }

    .ul__nav {
        flex-direction: column;
    }

    .ul__nav li {
        margin-bottom: 10px;
    }

    .main-features li:after {
        top: -4%;
        left: 30px;
    }

    .news__item {
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .section__title {
        font-size: 26px;
    }
}