{% extends "index.html" %}

{% block messages %}

{% endblock %}

{% block content %}

<section class="pt-3 pb-3">
    <div class="container">
        <h1 class="mb-4 mt-4 text-center">Сообщения</h1>
        <div class="col-12 shadow-sm p-3 mb-5 bg-white rounded" style="max-height: 1200px; overflow: auto;">
            {% block backbutton %}
            {% if messages %}
            {% for message in messages %}
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 alert alert-success mb-5 text-center m-auto">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endblock %}

            {% block reply %}
            {% if messages_list %}
            {% for message in messages_list %}
            {% if message.reply_date %}
            {% else %}
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 card text-center mb-3 m-auto">
                {% if message.is_read %}
                <div class="card-header text-start d-flex justify-content-between">
                    <div>Прочитано</div>
                    <a href="{% url 'admin_delete_message' message.id %}" class="text-danger">Удалить</a>
                </div>
                {% else %}
                <div class="card-header text-start text-white" style="background-color: #ffcb3f;">
                    <a href="{% url 'admin_make_read' message.id %}" title="Отметить как прочитанное" class="text-white text-decoration-none">Новое сообщение</a>
                </div>
                {% endif %}
                <div class="card-body">
                    <p class="text-end text-muted">от: {{ message.user.username }}</p>
                    <h5 class="card-title nav-tabs pb-2">{{ message.title }}</h5>
                    <p class="card-text" style="text-align: justify;">{{ message.question_text }}</p>
                    <a href="{% url 'reply' message.id %}" class="col-12 col-lg-8 col-xl-5 btn btn-primary">Ответить</a>
                </div>
                <div class="card-footer text-muted">
                    {{ message.send_date }}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 alert alert-info text-center m-auto">Сообщения отсутствуют</div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</section>

{% endblock %}