{% extends "index.html" %}

{% block content %}
<section class="pt-5 pb-5">
    <div class="container card-header">
        <ul class="nav nav-tabs" style="text-align: center;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="{% url 'complaints' %}">Все жалобы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_complaints' user.id %}"><span style="position: absolute; color: transparent;">{{ user }}</span>Мои жалобы</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <h1 class="mb-4 mt-4" style="text-align: center;">Жалобы</h1>
        {% if complaints %}

        {% for complaint in complaints %}
        <div class="card w-50 mb-4" style="border-color: #ffcb3f; border-width: 5px; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{ complaint.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted" style="text-align: center;">{{ complaint.house_address }}</h6>
                <p class="card-text" style="text-align: justify;">{{ complaint.text }}</p>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="alert alert-info w-50" style="margin: 0 auto;">Жалобы отсутствуют</div>
        {% endif %}
    </div>
</section>
{% endblock %}