{% extends "index.html" %}

{% block content %}
<section class="pt-5 pb-5">
    <div class="container card-header">
        <ul class="nav nav-tabs text-center">
            <li class="nav-item">
                <a class="nav-link" aria-current="true" href="{% url 'complaints' %}">Все жалобы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'my_complaints' %}">Мои жалобы</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <h1 class="mb-4 mt-4 text-center">Мои жалобы ({{ user.first_name }} {{ user.last_name }})</h1>
        <div class="container shadow-sm p-3 mb-5 bg-white rounded" style="max-height: 1200px; overflow: auto;">
            {% if complaints %}
            {% for complaint in complaints %}
            <div class="card w-50 mb-4" style="border-color: #ffcb3f; border-width: 5px; margin: 0 auto;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ complaint.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-end">{{ complaint.post_date }}</h6>
                    <p class="card_subtitle mb-2 text-muted text-end">{{ complaint.house_address }}</p>
                    <p class="card-text" style="text-align: justify;">{{ complaint.text }}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-info w-50" style="margin: 0 auto;">Вы еще не отправляли жалоб</div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}