{% extends "index.html" %}

{% block messages %}

{% endblock %}

{% block content %}

<section>
  <div class="container pt-4 pb-5">
    <h1 class="mb-4 mt-4 text-center">Новости</h1>
    <div class="col-12 shadow-sm p-3 mb-5 bg-white rounded" style="max-height: 1200px; overflow: auto;">
      {% if news %}
      {% for publication in news %}
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 card mb-4 m-auto" style="border-color: #ffcb3f; border-width: 2px;">
        <img src="{{ publication.image.url }}" class="card-img-top" alt="Картинка" width="200" height="350">
        <div class="card-body">
          <h5 class="card-title">{{ publication.title }}</h5>
          <p class="text-muted" style="font-size: 14px;">{{ publication.publish_date }}</p>
          <p class="card-text" style="text-align: justify;">{{ publication.content }}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 alert alert-info" style="margin: 0 auto;">Новости отсутствуют</div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}