{% extends "admin_messages.html" %}

{% block backbutton %}
<a href="{% url 'admin_messages' %}" class="col-6 col-md-3 col-lg-2 col-xl-1 mb-3 btn btn-primary position-relative top-0 start-0">Вернуться</a>
{% endblock %}

{% block reply %}
{% for message in messages_list %}
<div class="col-12 col-lg-10 col-xl-8 card text-center mb-3 m-auto">
    <div class="card-header text-center d-flex justify-content-between align-items-center">
        <div class="fs-4 fw-bold">{{ message.title }}</div>
        <div>кому: <span class="lead">{{ message.user.username }}</span></div>
    </div>
    <div class="card-body">
        <p class="card-text nav-tabs mb-3" style="text-align: justify;">{{ message.question_text }}</p>
        <form method="post" class="d-flex flex-column mt-3">
            {% csrf_token %}
            
            <div class="form-floating">
                {{ form.text }}
                <label for="form_text">Текст сообщения</label>
            </div>
            <small class="form-text mb-2 text-danger">{{ form.text.errors }}</small>
            <button class="col-12 col-lg-8 col-xl-4 btn btn-primary mt-3 m-auto">Отправить</button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}