{% extends "index.html" %}

{% block content %}

<section class="pt-3 pb-3">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="col mb-5">Форма отправки сообщения управляющему</h1>
        <form class="col d-flex flex-column w-50" method="post">
            {% csrf_token %}

            <div class="form-floating mb-4">
                {{ form.title }}
                <label for="form_title">Тема сообщения</label>
                <div id="title_errors"></div>
            </div>
            <div class="form-floating mb-2">
                {{ form.text }}
                <label for="form_text">Текст сообщения</label>
                <div id="text_errors"></div>
            </div>

            {% if messages %}

            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
            {% else %}
            <div class="alert alert-danger" style="text-align: center;">{{ message }}</div>
            {% endif %}
            {% endfor %}

            {% endif %}

            <button onclick="messagesValidator(event);" class="btn btn-primary mt-3 w-50" style="margin: 0 auto;">Отправить</button>
        </form>
    </div>
</section>
{% load static %}
<script type="text/javascript" src="{% static 'js/validation.js' %}"></script>
{% endblock %}