{% extends "index.html" %}

{% block content %}

<section class="pb-3 pt-3">
    <div class="container d-flex flex-column align-items-center">
        <h1 class="col mb-5">Форма отправки жалобы</h1>
        <form method="post" class="col d-flex flex-column w-50">
            {% csrf_token %}
            
            <div class="form-floating">
                {{ form.title }}
                <label for="form_title">Тема</label>
            </div>
            <small class="form-text  mb-2 text-danger">{{ form.title.errors }}</small>
            <div class="form-floating">
                {{ form.house_address }}
                <label for="form_house_address">Адрес проживания</label>
            </div>
            <small class="form-text  mb-2 text-danger">{{ form.house_address.errors }}</small>
            <div class="form-floating">
                {{ form.text }}
                <label for="form_text">Текст жалобы</label>
            </div>
            <small class="form-text  mb-2 text-danger">{{ form.text.errors }}</small>
            {% if messages %}

            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
            {% else %}
            <div class="alert alert-danger" style="text-align: center;">{{ message }}</div>
            {% endif %}
            {% endfor %}
            
            {% endif %}

            <button class="btn btn-primary mt-3 w-50" style="margin: 0 auto">Оправить</button>
        </form>
    </div>
</section>

{% endblock %}
