{% extends "index.html" %}

{% block messages %}

{% endblock %}

{% block content %}

<section class="pt-3 pb-3">
    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Мои сообщения ({{ user.first_name }} {{ user.last_name }})</h1>
        <div class="container shadow-sm p-3 mb-5 bg-white rounded" style="max-height: 1200px; overflow: auto;">
            {% if messages_list %}
            {% for message in messages_list %}
            <div class="card text-center w-50 mb-3" style="margin: 0 auto;">
                {% if message.is_read %}
                <div class="card-header text-start d-flex justify-content-between">
                    <div>{{ message.title }}</div>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'send_message' %}" class="text-info me-3">Написать сообщение</a>
                        <a href="{% url 'delete_message' message.id %}" class="text-danger">Удалить</a>
                    </div>
                </div>
                {% else %}
                <div class="card-header text-start d-flex justify-content-between text-white" style="background-color: #ffcb3f;">
                    <div>{{ message.title }}</div>
                    <a href="#" class="text-decoration-none text-white" title="Отметить как прочитанное">Новое сообщение</a>
                </div>
                {% endif %}
                <div class="card-body">
                    <p class="card-text fs-6" style="text-align: justify;">{{ message.question_text }}</p>
                    <h6 class="card-title nav-tabs pb-2">Ответ</h6>
                    <p class="card-text fs-5" style="text-align: justify;"> {{ message.reply_text }}</p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div>Отправлено: {{ message.send_date }}</div>
                    <div>Ответ получен: {{ message.reply_date }}</div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-info w-25" style="margin: 0 auto;">Сообщения отсутствуют</div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}